.Login {
    text-align: center;
    background-color: #e4e4e4;
    color: black;
    margin-top: -100px;
  }
  .little{
    font-size: 30px;
  }

  .LoginForm{
    text-align: left;
    background-color: #b9b9b9;
    outline: white;
    outline-style:solid;
    color: black;
    padding: 1.5%;
    margin-top: 30px;
    margin-left:35%; 
    width:30%;
  }
  .login-button{
    margin-top: 35px;
  }
  .RegisterForm{
    text-align: center;
    background-color: #b9b9b9;
    outline: white;
    outline-style:solid;
    color: black;
    padding: 1.5%;
    margin-top: 30px;
    margin-left:35%; 
    width:30%;
  }
  .link{
    color:#1f881f;
  }

  
  
  
  
  
  
  
  
  
  
