.Login {
    text-align: center;
    background-color: #222;
    color: white;
  }
.display-3{
  margin-top: -80px;
}
  .LoginForm{
    text-align: left;
    outline: #636363;
    outline-style:solid;
    color: white;
    padding: 1.5%;
    margin-top: 50px;
    margin-left:35%; 
    width:30%;
  }
  .login-button{
    margin-top: 35px;
  }
  .RegisterForm{
    text-align: center;
    outline: #636363;
    outline-style:solid;
    color: white;
    padding: 1.5%;
    margin-top: 40px;
    margin-left:35%; 
    width:30%;
  }
  .link{
    color:#5cb85c;
  }

  
  
  
  
  
  
  
  
  
  
