.Login-Middle {
    padding: 5%;
    text-align: center;
    color: black;
    margin-top: -100px;
    background-color: #f9f9f9;
  }
  .little{
    font-size: 30px;
  }

  .LoginForm{
    text-align: left;
    background-color: white;
    color: black;
    padding: 1.5%;
    margin-top: 30px;
    margin-left:35%; 
    width:30%;
    border-radius: 5px;
    border: 1.5px solid #d4dbdf;
  }
  .login-button{
    margin-top: 35px;
  }
  .BottomPanel{
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1.5px solid #d4dbdf;
    color: black;
    padding: 1.5%;
    margin-top: 30px;
    margin-left:35%; 
    width:30%;
  }


  
  
  
  
  
  
  
  
  
  
