.AfterRegister {
  
    text-align: Left;
    
  }

  .Middle {
    padding-top: 0%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }

.Bottom {
      padding: 0%;
}
  
  
  
  
  
  
  
  
  
  